<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FindMapper">
	<!-- res_name에 해당하는 RestaurantDTO 얻기 -->
	<select id="find_res" parameterType="string" resultType="RestaurantDTO">
		select *
		from restaurant
		where res_name = #{res_name}
	</select>
	<!-- lodging_name에 해당하는 LodgingDTO 얻기 -->
	<select id="find_lod" parameterType="string" resultType="LodgingDTO">
		select *
		from lodging
		where lodging_name = #{lodging_name}
	</select>
	<!--  맛집 전체 리스트 조회  -->
	<select id="find_all_res" parameterType="string" resultType="RestaurantDTO">
		select *
		from restaurant
		where res_addr like #{res_addr} || '%'
	</select>
	<!-- 숙소 전체 리스트 조회 -->
	<select id="find_all_lod" parameterType="string" resultType="LodgingDTO">
		select *
		from lodging
		where lodging_addr like #{lodging_addr} || '%'
	</select>
	<!-- 숙소 전체 리스트 조회 (잠실, 고척용) -->
	<select id="find_all_lod_by_content" parameterType="string" resultType="LodgingDTO">
		select *
		from lodging
		where lodging_content like '%' || #{lodging_content} || '%'
	</select>
</mapper>