<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

 	<select id="idCheck" parameterType="string" 
 	  resultType="MemberDTO">
 	  select *
 	  from member
 	  where userid = #{userid}
 	</select>
 	
 	<insert id="memberAdd" parameterType="MemberDTO">
 	   insert into member (userid, password, email, nickname, team_code)
 	   values ( #{userid}, #{password},#{email},#{nickname},#{team_code, jdbcType=NUMERIC})
 	</insert>
 	
 	<select id="login" parameterType="hashmap" resultType="MemberDTO">
 	   select userid, password, email, nickname, team_code
 	   from member
 	   where userid=#{userid} and password=#{password}
 	</select>
 	
    <select id="mypage" parameterType="string"
 	  resultType="MemberDTO">
 	   select userid, password, email, nickname, team_code
 	   from member
 	   where userid=#{userid} 
 	</select>
 	
 	<update id="memberUpdate" parameterType="MemberDTO">
	 update Member
	 set email=#{email},nickname=#{nickname},team_code=#{team_code}
	where userid=#{userid}
	</update>
	
	<update id="pwChange" parameterType="hashmap">
	update Member
	set password=#{password}
	where userid=#{userid}
	</update>
	
	<delete id="memberDelete" parameterType="string">
	delete from Member
	where userid=#{userid}
	</delete>
 	
 	<!-- 임시비밀번호로 저장 -->
	<update id="updateTemporaryPW" parameterType="hashmap">
	update member
	set password = #{password}
	where email = #{email}
	</update>
	
</mapper>
