<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MypageMapper">

<!-- 게시판 관련 매퍼 -->
	<select id="selectText" resultType="Board">
		select board_num, title,
		userid, text, team_code,
		to_char(board_date, 'YYYY/MM/dd')as board_date,
		count
		from board
		order by board_num desc
	</select>
	<select id="textTotalCount" resultType="int">
	select count(*)
	from board
	</select>
	
<!-- 식당 매퍼 -->
<select id="select_r_review" resultType="ReviewDTO">
	  select review_id, res_id, user_id, rating, review_content, like_cnt, created_date, modified_date
	  from restaurant_reviews
	  order by review_id desc
</select>

<!-- 댓글 매퍼 -->
<select id="selectReply" resultType="Reply">
	select reviews_num, board_num, text, userid, replydate, updatedate, team_code
	from board_reviews
	order by reviews_num
</select>
<select id="replyTotalCount" resultType="int">
	select count(*)
	from board_reviews
</select>


</mapper>