<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper">
	<!-- 음식점 리뷰 목록 -->
	<select id="r_totalCount" resultType="int">
		select count(*)
	  from restaurant_reviews
	</select>
	<select id="r_reviewList"  resultType="ReviewDTO" parameterType="int">
	  select review_id, res_id, user_id, rating, review_content, like_cnt, created_date, modified_date
	  from restaurant_reviews
	  where res_id =#{res_id}
	  order by review_id desc
	</select>
	<!-- 숙소 리뷰 목록 -->
	<select id="l_totalCount" resultType="int">
	  select count(*)
	  from lodging_reviews
	</select>
	<select id="l_reviewList"  resultType="LodReviewDTO" parameterType="int">
	  select review_id, lodging_id, user_id, rating, review_content, like_cnt, created_date, modified_date
	  from lodging_reviews
	  where lodging_id =#{lodging_id}
	  order by review_id desc
	</select>
	
	<!-- 리뷰 등록 -->
	<insert id="reviewWrite" parameterType="ReviewDTO">
		insert into restaurant_reviews (review_id, res_id, user_id, rating, review_content)
		values (#{review_id}, #{res_id}, #{user_id}, #{rating}, #{review_content})
	</insert>
	<insert id="lodReviewWrite" parameterType="LodReviewDTO">
		insert into lodging_reviews (review_id, lodging_id, user_id, rating, review_content)
		values (#{review_id}, #{lodging_id}, #{user_id}, #{rating}, #{review_content})
	</insert>
	
	<!-- 리뷰 상세보기 -->
	<select id="reviewRetrieve" parameterType="string" resultType="ReviewDTO">
  	select *
  	from restaurant_reviews
		where review_id = #{review_id}
	</select>
	<select id="lodReviewRetrieve" parameterType="string" resultType="LodReviewDTO">
  	select *
  	from lodging_reviews
		where review_id = #{review_id}
	</select>
	
	<!-- 리뷰 수정 -->
	<update id="reviewUpdate" parameterType="ReviewDTO">
		update restaurant_reviews
		set review_content = #{review_content}, rating=#{rating}, modified_date = sysdate
		where review_id = #{review_id}
	</update>
	<update id="lodReviewUpdate" parameterType="LodReviewDTO">
		update lodging_reviews
		set review_content = #{review_content}, rating=#{rating}, modified_date = sysdate
		where review_id = #{review_id}
	</update>
	
	<!-- 리뷰 삭제 -->
	<delete id="reviewDelete" parameterType="int">
	  delete from restaurant_reviews
	  where review_id = #{review_id}
	</delete>
	<delete id="lodReviewDelete" parameterType="int">
	  delete from lodging_reviews
	  where review_id = #{review_id}
	</delete>
   

	<!-- 리뷰 이미지 업로드용 -->
	<select id="find_seq" resultType="int">
		select restaurant_reviews_seq.nextval 
		from dual
	</select>
	<select id="lod_find_seq" resultType="int">
		select lodging_reviews_seq.nextval 
		from dual
	</select>
	
	<insert id="save_url" parameterType="hashmap">
		insert into res_review_image
		values (#{review_id},#{url})
	</insert>
	<insert id="lod_save_url" parameterType="hashmap">
		insert into lod_review_image
		values (#{review_id},#{url})
	</insert>

</mapper>