ul {
	list-style: none;
}

h3, h4 {
	color: rgb(0, 0, 0, 0.8) !important;
	text-shadow: 2px 2px 4px rgba(188, 188, 188);
	font-family: 'KBO-Dia-Gothic_bold' !important;
}

aside a {
	text-decoration: none !important;
	color: black !important;
}

.list-group-item:hover {
	background-color: rgb(199, 199, 199, 0.5) !important;
	font-color: black !important;
	border-radius: 5px;
}

.list-group .list-group-item {
	border: none;
	background-color: rgba(248, 249, 250, 0.5);
}

.list-group-item.active {
	color: white;
	background-color: rgb(199, 199, 199, 0.7) !important;
	border-color: #c5c5c5 !important;
	border-radius: 5px;
}

.category a {
	text-decoration: none !important;
	font-family: 'KBO-Dia-Gothic_bold';
	color: rgb(0, 0, 0, 0.6);
	font-size: 1.2rem;
	margin-left: 10px;
}