.like {
    display: flex;
    cursor: pointer;
}

.heart {
    width: 35px;
    height: 30px;
    background-image: url('../images/icon/dislike_icon.png');
    background-size: cover;
}

.heart.active {
    background-image: url('../images/icon/like_icon.png');
}