/* player_detail --------------------- */
.sub_container.player_detail {
	margin-top: 0;
	background-color: #fff;
	position: relative;
	padding-top: 0;
}

.player_detail.boardview>.board_header {
	background-color: #f7f7f7;
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
}

.player_detail .board_header .tab_header {
	padding-left: 0;
}

.player_detail.boardview>.board_header .right {
	position: absolute;
	right: 0;
	bottom: 12px;
}

.player_detail .board_header .right .recommend {
	float: left;
}

.sub_container.player_detail .skew_bg {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 100px solid #f7f7f7;
	border-right: 1200px solid transparent;
}

.player_dic {
	left: 0;
	right: 0;
	height: 500px;
	text-align: center;
	position: relative;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding: 0 20px;
	/* overflow: hidden; */
}

.player_dic .txt_wrap {
	position: absolute;
	text-align: left;
	top: 60px;
	z-index: 1;
}

.player_dic .txt_wrap .role {
	font-size: 20px;
	font-weight: bold;
	color: #a50034;
	display: inline-block;
}

.player_dic .txt_wrap .tota {
	display: inline-block;
	font-size: 18px;
	color: #888;
	margin-left: 10px;
}

.player_dic .txt_wrap .role span {
	font-weight: bold;
	font-size: 38px;
	border-radius: 500px;
	display: inline-block;
	color: #555;
	text-align: center;
	margin-left: -6px;
	margin-right: 15px;
}

.player_dic .txt_wrap .name {
	font-size: 60px;
	margin-top: 15px;
	padding-bottom: 25px;
	font-weight: normal;
	line-height: 75px;
	position: relative;
	max-width: 395px;
	margin-left: -10px;
}

.player_dic .txt_wrap .name span {
	font-weight: bold;
	/* margin-left: 10px; */
	/* padding: 22px 20px 18px; */
	position: absolute;
	top: -68px;
	left: 0px;
	font-size: 38px;
	/* background: rgba(0,0,0,0.03); */
	border-radius: 500px;
	/* width: 115px; */
	/* height: 115px; */
	display: inline-block;
	color: #555;
	text-align: center;
}

.player_dic .txt_wrap .birth, .player_dic .txt_wrap .join {
	line-height: 28px;
	font-size: 16px;
	color: #888;
	width: 360px;
	word-break: keep-all;
}

.player_dic .song_wrap {
	position: absolute;
	bottom: 60px;
	z-index: 10;
}

.player_dic .song_wrap .music {
	float: left;
	margin-right: 25px;
	text-align: center;
}

.player_dic .song_wrap .music p {
	color: #777;
	margin-bottom: 15px;
	font-size: 14px;
}

.player_dic .song_wrap .music a {
	width: 50px;
	height: 50px;
	background-color: #fff;
	display: inline-block;
	border-radius: 100%;
	background-color: #f7f7f7;
	box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
}

.player_dic .song_wrap .music a:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	transition: all 0.2s;
	left: 17px;
}

.player_dic .song_wrap .music .play:before {
	border-top: 12px solid transparent;
	border-left: 20px solid #777;
	border-bottom: 12px solid transparent;
}

.player_dic .song_wrap .music .pause:before {
	border-top: 0 solid transparent;
	border-left: 5px solid #777;
	border-bottom: 20px solid #777;
}

.player_dic .song_wrap .music a:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 28px;
	right: 0;
	bottom: 0;
	margin: auto 0;
	border-top: 0 solid transparent;
	border-left: 0px solid #777;
	border-bottom: 0px solid #777;
	transition: all 0.3s;
}

.player_dic .song_wrap .music .pause:after {
	left: 28px;
	border-top: 0 solid transparent;
	border-left: 5px solid #777;
	border-bottom: 20px solid #777;
}

.player_dic .img_wrap {
	position: absolute;
	height: 500px;
	right: 0;
	left: 0;
	top: 0;
	margin: 0 auto;
	overflow: hidden;
	animation: profileimg 5s ease-out forwards;
}

@
keyframes profileimg { 0%{
	opacity: 0;
	right: -50px;
}

50%{
opacity
:
1;
}
100%{
opacity
:
1;

 	
right
:
0;

 
}
}
.player_dic .img_wrap img {
	height: 95%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.player_dic .season_score {
	position: absolute;
	right: 0;
	width: 370px;
	top: 30px;
	z-index: 3;
}

.player_dic .season_score .header {
	margin-bottom: 25px;
	padding-bottom: 25px;
	position: relative;
}

.player_dic .season_score .header:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 80px;
	display: inline-block;
	background-color: #ccc;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.player_dic .season_score .header p {
	font-size: 24px;
	text-align: center;
	color: #888;
}

.player_dic .season_score .header .date {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

.player_dic .season_score ul {
	
}

.player_dic .season_score ul li {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	border: 1px solid #eee;
	background: #fafafa;
	padding: 22px 0;
	margin: 5px;
	border-radius: 100%;
	display: inline-block;
}

.player_dic .season_score ul li .title {
	color: #777;
	margin-bottom: 7px;
}

.player_dic .season_score ul li .number {
	font-size: 28px;
	margin: 5px 0;
	font-weight: bold;
}

.player_dic .season_score ul li:first-child .number, .player_dic .season_score ul li:first-child .ranking
	{
	color: #a50034;
}

.player_dic .season_score ul li .ranking {
	
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	color: #222;
	text-decoration: none;
	box-sizing: border-box;
	font-family: LGSmHaR;
	word-break: keep-all;
}

img {
	border: 0;
}

ol, ul {
	list-style: none;
}

body {
	height: 100%;
	width: 100%;
	min-width: 1200px;
	font-size: 13px;
	background-color: #f7f7f7;
	position: relative;
}

