.btn.btn-primary {
    font-family: 'KBO-Dia-Gothic_bold';
}

/* 테이블 레이아웃 */
.table td, .table th {
  white-space: nowrap; /* 줄 바꿈 금지 */
  overflow: hidden;
  text-overflow: ellipsis; /* 길 경우 ... 으로 표시 */
  max-width:200px
}

/* 리뷰 작성 화면 */
.myform{
	   width: 70%;
	   margin: 3% auto; /* 수평 가운데 정렬을 위한 마진 설정 */
	   height: auto;
	   padding: 50px;
	   box-sizing: border-box;
	   border: solid 1.5px #D3D3D3;
	   border-radius: 5px;
	   background-color: rgba(255, 255, 255, 0.5);
	   resize: none;
}
.container {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 10px 0;
}
#rating fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 1px; /* 필드셋 테두리 제거 */
    direction: rtl; /* 이모지 순서 반전 */    
}
#rating input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#rating input[type=radio]:checked ~ label{
    color: activeborder; /* 마우스 클릭 체크 */
}
#rating input[type=radio]:disabled + label { /* 비활성화 상태의 라디오 버튼 스타일 */
  pointer-events: none; /* 호버 이벤트 비활성화 */
}
#rating label{
    font-size: 3em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#rating label:hover,
#rating label:hover ~ label{ /* 마우스 호버 뒤에오는 이모지들 */
    color: activeborder;
}
#review_content {
	   width: 80%;
	   margin: 0 auto; /* 수평 가운데 정렬을 위한 마진 설정 */
	   height: 150px;
	   padding: 10px;
	   box-sizing: border-box;
	   border: solid 1.5px #D3D3D3;
	   border-radius: 5px;
	   font-size: 16px;
	   resize: none;
}

/* 이미지 업로드 화면 */

input[type=file] {
		display: none;
}

/* .my_button {
    display: inline-block;
    width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #006BCC;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
 */
.imgs_wrap {
	  border: solid 1.5px #D3D3D3;
	  border-radius: 5px;
		margin-top: 30px;
    margin-bottom: 30px;
    margin: 3% auto;
    width: 80%;
	  display: flex;
	  align-items: center;
	  padding: 10px 0;
}
.imgs_wrap img {
    width: 150px;
    height: 150px; /* 이미지 크기를 정사각형으로 설정 */
    object-fit: cover; /* 이미지를 정사각형 크기에 맞게 자름 */
    margin-left: 10px;
}

.modal {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
/* 
.modal-content {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
 */

/* 
.modal img {
    width: auto;
    max-height: auto;
} */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 50px;
    cursor: pointer;
}